# Commit and tag the version change.
git-tag-version=true

# Run git commit hooks when committing the version change.
commit-hooks=true

# Pass the -s flag to git to sign the tag. Note that you must have a default GPG key set up in your git config for this to work properly.
sign-git-tag=true
